# ===== Dependencies =====
node_modules/

# ===== Builds =====
dist/
out/
build/

# ===== Environment Files =====
.env
.env.local
.env.development
.env.production
.env.*.local

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite-error.log*

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== IDEs / Editors =====
.vscode/
.idea/
*.swp

# ===== Misc =====
*.log
